.comments-cell
  background-color: #8cc9de
  font-weight: bold
  font-size: smaller

.totals-cell
  border-top: double !important
  border-top-color: black

.revenue
  background-color: #de2313
  font-weight: bold

.ag-cell
  line-height: 12px !important