.comments-cell
  background-color: #8cc9de
  font-weight: bold
  font-size: smaller
  text-align: left !important
  overflow: visible !important

.totals-cell
  color: red
  border-top: double !important
  border-top-color: black
  font-weight: bolder

.actual-cell
  font-weight: bolder
  background-color: rgba(255, 255, 0, 0.3)
  overflow: visible

.actual-delta
  border-top: double !important
  font-weight: bolder
  background-color: rgba(255, 255, 0, 0.3)
  overflow: visible

.spending-cell
  color: rgba(222, 35, 19, 1.0)

.revenue-cell
  color: rgba(0,128,0,1.0)

.revenue-totals
  color: green
  border-top: double !important
  border-top-color: black
  font-weight: bolder

.ag-cell
  line-height: 12px !important
  text-align: right
  overflow-wrap: break-spaces
  padding-left: 3px !important
  padding-right: 3px !important
